<html lang="en" >
    <head>
        <Title>Thermostaat </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Cache-control" content="no-cache">
        
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> 
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> <!-- include socket.io client side script -->
                
                <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB"
            crossorigin="anonymous"></script>


		
		<!-- Your application bootstrap  --> 
        <script type="text/javascript">
            
            

			
            var app = angular.module('ThermoApp', ['ngMaterial', 'ngMdIcons', 'ngMessages']);
            app.controller('ThermostatController', ['$scope', '$mdDialog', '$mdMedia', '$timeout','$mdToast', 'socket', function ($scope, $mdDialog, $mdMedia, $timeout, $mdToast, socket) {
				$scope.init = function(){
                                    $scope.btnSize = "150";
                                    $scope.off = "off";
                                    $scope.on = "on";
                                    $scope.lastUpdate = new Date();
                                    getDate($scope.theDate);
                                    doPolling();
				};	
                             
                                socket.on('status', function(data){
                                    showToast(data);
				});
                                
                                socket.on('timer', function(data){
                                    showToast("timer-> " + data);
				});
                                
                                var showToast = function(msg) {
                                    $mdToast.show(
                                      $mdToast.simple()
                                        .textContent(msg)
                                        .position("bottom")
                                        .hideDelay(3000)
                                    );
                                }
                                
                                var doPolling = function() {
                                    socket.emit('cmd', 'start');
                                    $timeout(doPolling, 30000);
                                };
				
				socket.on('conditions', function(data){
                                    $scope.temp = data.temp;
                                    $scope.humidity = data.hum;
                                    $scope.lastUpdate = new Date(data.dat);
                                    $scope.heaterState = data.stat ? $scope.on: $scope.off;
                                    $scope.bHeaterState = $scope.heaterState === $scope.on ? true: false;
                                    $scope.scheduled = data.schedIsOn;
				});
                                
                                $scope.toggleHeating = function(){
                                    var cmdState = $scope.bHeaterState ? $scope.on: $scope.off;
                                    $scope.sendCmd(cmdState);
                                    showToast("Sent command to turn heater: " + cmdState);
                                }
                                
                                $scope.toggleScheduler = function(){
                                    $scope.scheduled = !$scope.scheduled;
                                    socket.emit('cmd', $scope.scheduled ? "scheduleOn" : "scheduleOff");
                                    var strOnOff = $scope.scheduled ? "on" : "off";
                                    showToast("Sent command to turn schedule: " + strOnOff);
                                }
				
                                $scope.sendCmd = function(cmd){
                                    showToast("Sent command to turn heater " + cmd);
                                    socket.emit("cmd", cmd);
                                };
                                
                               
                                var getDate = function(){
                                    var dat = new Date();
                                    $scope.theDate = dat.toLocaleDateString() + " " + dat.toLocaleTimeString();
                                    $scope.lastPollTime = parseInt(((dat - $scope.lastUpdate) / 1000)).toString();
                                    $timeout(getDate, 1000);
                                };
			}]);
			
			app.config(function ($mdThemingProvider) {
				var customGreyMap = $mdThemingProvider.extendPalette('grey', {
					'contrastDefaultColor': 'light',
					'contrastDarkColors': ['200'],
					'200': 'FF9800'
				});
				$mdThemingProvider.definePalette('customGreyMap', customGreyMap);
				$mdThemingProvider.theme('default')
				  .primaryPalette('customGreyMap', {
					  'default': '800',
					  'hue-1': '200'
				  })
				  .accentPalette('orange');
				$mdThemingProvider.theme('input', 'default')
					  .primaryPalette('grey');
			});

			app.factory('socket', function ($rootScope) {
				var socket = io.connect();
				return {
					on: function (eventName, callback) {
					  socket.on(eventName, function () {  
						var args = arguments;
						$rootScope.$apply(function () {
						  callback.apply(socket, args);
						});
					  });
					},
									
					emit: function (eventName, data, callback) {
					  socket.emit(eventName, data, function () {
						var args = arguments;
						$rootScope.$apply(function () {
						  if (callback) {
							callback.apply(socket, args);
						  }
						});
					  })
					}
				};
			});
                        
                        
                        
            
		
        </script>
        <style>
            
        </style>
    </head>
    <body ng-app="ThermoApp" layout="column" ng-cloak>
        <div flex layout="column" ng-controller="ThermostatController" data-ng-init="init()" >
           
            <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">
                            <h2 >{{theDate}}</h2>
                    </div>
            </md-toolbar>
            
            <div flex layout="row" layout-align="center center" style="background-image: linear-gradient(darkgray, gray);font-size: 3em;">
                <div layout="row" layout-align="center center">
                    <span class="md-display-4" md-colors="{color: 'accent'}">{{temp}}</span>
                    <i class="fas fa-thermometer-three-quarters fa-2x" md-colors="{color: 'accent'}"></i>
                </div>
                <div layout="column" layout-align="center center">
                    <br /><br />
                    <div layout="row" layout-align="center center">
                        <span class="md-display-2" md-colors="{color: 'blue-300'}">{{humidity}}</span>
                        <i class="fas fa-tint fa-xs" md-colors="{color: 'blue-300'}"></i>
                    </div>
                </div>
                
            </div>
            
            
            <div class="md-padding" layout="row" layout-align="center center">
                
                <div flex="33" layout="row" layout-align="center end">
                    <md-button layout="column" layout-align="center center" ng-click="toggleScheduler()" style="margin-top: 0px;"  md-colors="scheduled == true ? {color:  'accent'}: {color: 'grey-400'}" layout-padding>
                        <i class="fas fa-calendar-alt fa-4x"></i>
                    </md-button>
                </div>
                
                <div flex="33" layout="row" layout-align="center center">
                    <md-switch ng-change="toggleHeating()" ng-model="bHeaterState"></md-switch>
                </div>

                <div flex="33" layout="column" layout-align="center stcart" style="padding-right: 20px;" >
                    <span style="height: 15px;"></span>
                    <md-progress-linear md-mode="determinate" class="md-display-1 md-accent" value="{{(100 - ((lastPollTime / 30) * 100))}}"></md-progress-linear>
                    <span style="height: 15px;"></span>
                    <span md-colors="{color: 'grey-400'}" class="md-caption">UPDATE</span>
                </div>
                
            </div>
	</div>
    </body>
</html>